<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ajibolaak.screenshot_shield">
  <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="28" />
</manifest>
